{% extends 'base.html' %}
{% block main %}
<script src="http://code.jquery.com/jquery-latest.js"></script>
<table class="table table-hover">
        <div class="row-fluid">
		<div class="span12">
              <thead>
                <tr>
                  <th>Itm Name</th>
                  <th>Price</th>
                  <th>Quantity</th>
                </tr>
              </thead>
              <tbody>
              {% for item in catalog %}
                <tr>
                  <td>{{item.name}}</td>
                  <td>${{item.price}}</td>
                  <td> <form action="/add_to_cart/" class="form-horizontal" method="post">
		   			{% csrf_token %}
                  <input id="qty{{item.key}}" name="qty" type="text" style="width:60px"/>
                  <input name="price" type="hidden" value="{{item.price}}"/>
                  <input name="key" type="hidden" value="{{item.key}}"/>
                 <input type="submit" value="Add" class="btn"/></form></td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
        </div>
        </div>
<script>
$(document).ready(function(){ 
{% for item in catalog %}
      $('#button{{item.key}}').click(function(){
        $('#qty{{item.key}}').replaceWith('<div id="info">'+$('#qty{{item.key}}').val()+
        ' added </div>'); 
        $('#button{{item.key}}').replaceWith('<a id="edit{{item.key}}" class="btn">Edit</a>');
    }); 
{% endfor %}
});
</script>
{% endblock %}